<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.wifi.resources.overlay.common"
    android:versionCode="30"
    android:versionName="11">
    <overlay
      android:targetPackage="com.google.android.wifi.resources"
      android:targetName="WifiCustomization"
      android:isStatic="true"/>
</manifest>
