
# This file needs to be executed by vendor_init at boot of the device,
# both in normal and factory mode.

service stflashtool /vendor/bin/STFlashTool
       class late_start
       group nfc
       user nfc
       oneshot
