on boot
# Backlight
    chown system system /sys/class/backlight/panel0-backlight/brightness
    chown system system /sys/class/backlight/panel0-backlight/max_brightness
    chmod 0644 /sys/class/backlight/panel0-backlight/brightness
    chmod 0644 /sys/class/backlight/panel0-backlight/max_brightness
    # Force enable DT2W
    chown system system /sys/touchpanel/double_tap
    chmod 0777 /sys/touchpanel/double_tap
    write /sys/touchpanel/double_tap 1

service vendor.light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service
    interface android.hardware.light@2.0::ILight default
    class hal
    user system
    group system
    # shutting off lights while powering-off
    shutdown critical

on property:sys.boot_completed=1
    # Restrict permissions to socket file
    # to hide Magisk & co.
    chmod 440 /proc/net/unix
